.footer {
	margin-top: 60px;
}

.footer-menu__list {
	display: flex;
	justify-content: space-between;
	font-family: var(--font-family-Arial);
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	text-align: left;

	color: #e9e5c5;

	margin-bottom: 70px;
}
.footer-menu__link {
	transition: color ease-in-out 0.2s;
}
.footer-menu__link:hover {
	color: #e7d000;
}
.footer__contact {
	font-family: var(--font-family-Vetrino);
	font-style: normal;
	font-weight: 400;
	font-size: 100px;
	line-height: 106px;
	text-align: left;
	text-transform: uppercase;

	color: #e9e5c5;
}
.footer__bottom {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}
.footer__bottom--petals {
	position: relative;
}
.footer__bottom--petals::after {
	position: absolute;
	content: '';
	background-image: url(../img/social/icon_vk.svg);
	width: 70px;
	height: 70px;
	background-size: cover;
	background-repeat: no-repeat;
	bottom: 80px;
	left: 217px;
}
.footer__bottom--petals::before {
	position: absolute;
	content: '';
	background-image: url(../img/social/icon_tg.svg);
	width: 70px;
	height: 70px;
	background-size: cover;
	background-repeat: no-repeat;
	bottom: 120px;
	left: 492px;
}
.footer__bottom--title {
	font-family: var(--font-family-Arial);
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	text-align: left;

	color: #e9e5c5;
	margin-bottom: 60px;
}
.footer__petals--320 {
	display: none;
}
/* Адаптив */
@media (min-width: 1920px) {
	.footer__bottom {
		margin-top: 210px;
	}
}
@media (max-width: 768px) {
	.footer-menu__list {
		font-size: 16px;
		line-height: 22px;
		margin-bottom: 40px;
	}
	.footer__contact {
		font-size: 70px;
		line-height: 78px;
	}
	.footer__bottom--title {
		font-size: 13px;
		margin-bottom: 37px;
	}
	.footer__petals {
		max-width: 600px;
	}
	.footer__bottom--petals::before {
		position: absolute;
		content: '';
		background-image: url(../img/social/icon_tg.svg);
		width: 50px;
		height: 50px;
		background-size: cover;
		background-repeat: no-repeat;
		bottom: 74px;
		left: 434px;
	}
	.footer__bottom--petals::after {
		position: absolute;
		content: '';
		background-image: url(../img/social/icon_vk.svg);
		width: 50px;
		height: 50px;
		background-size: cover;
		background-repeat: no-repeat;
		bottom: 48px;
		left: 132px;
	}
}
@media (max-width: 420px) {
	.footer__content {
		display: flex;
		flex-direction: column-reverse;
		max-width: 390px;
	}
	.footer__contact {
		font-size: 38px;
		line-height: 62px;
		margin-bottom: 10px;
	}
	.footer-menu__list {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		font-size: 18px;
		line-height: 33px;
		margin-bottom: 70px;
	}
	.footer__bottom--title {
		font-size: 11px;
		margin-bottom: 20px;
	}
	.footer__bottom--petals::after {
		bottom: 58px;
		left: 77px;
		rotate: -45deg;
	}
	.footer__bottom--petals::before {
		bottom: 88px;
		left: 201px;
	}
	.footer__petals {
		display: none;
	}
	.footer__petals--320 {
		width: 380px;
	}
}
@media (max-width: 320px) {
	.footer__contact {
		font-size: 29px;
		line-height: 32px;
		margin-bottom: 25px;
	}
	.footer-menu__list {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		font-size: 17px;
		line-height: 18px;
		gap: 15px;
		margin-bottom: 70px;
	}
	.footer__bottom--title {
		font-size: 17px;
		line-height: 18px;
		margin: 0;
	}
	.footer__petals--320 {
		display: block;
		width: 290px;
	}
	.footer__bottom {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.footer__bottom--petals::before {
		bottom: 83px;
		left: 188px;
		rotate: 25deg;
}
.footer__bottom--petals::after {
	bottom: 46px;
	left: 9px;
	rotate: -45deg;
}
}
