.form {
	padding-top: 203px;
	padding-bottom: 203px;
	background: url(../img/form/form-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.form__content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-bottom: 113px;
}
.form__title {
	font-weight: 400;
	font-size: 60px;
	line-height: 64px;
	text-align: left;
	text-transform: uppercase;
	max-width: 384px;
	color: #e9e5c5;
}
form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px 0;
	max-width: 513px;
}

.input {
	font-family: var(--font-family-Arial);
	font-size: 20px;
	line-height: 24px;
	text-align: left;
	outline: none;
	color: #e9e5c5;
	background: transparent;

	width: 513px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border: none;
	border-bottom: 1px solid #e9e5c5;
}
.input:hover {
	transition: all 0.1s linear 0s;
	border-bottom: 1px solid #e7cf00;
}
.input:hover::placeholder {
	transition: all 0.1s linear 0s;
	color: rgb(233, 229, 197, 0.3);
}
.input:default {
	color: rgb(233, 229, 197, 0.5);
	border-bottom: 1px solid #e9e5c5;
}

.input::placeholder {
	color: #e9e5c5;
}
.form__btn {
	position: relative;
	font-size: 25px;
	line-height: 30px;
	text-align: center;
	text-transform: uppercase;

	color: #506c46;
	background: #e7cf00;
	border: 2px solid #e7cf00;
	border-radius: 50px;
	padding: 14px 175px 12px 175px;

	color: #506c46;
	overflow: hidden;
}

.form__btn {
	transition: all 0.2s linear 0s;

	&:before {
		content: '';
		background-image: url(../img/arrow-r.svg);
		background-repeat: no-repeat;
		background-size: contain;
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		right: 31px;
		top: 20px;
		opacity: 0;
		width: 36px;
		height: 34px;
		transition: all 0.2s linear 0s;
	}
	&:hover {
		text-indent: -60px;
		background: none;
		border: 2px solid #c0ae04;
		padding: 14px 235px 12px 175px;
		color: #c0ae04;

		&:before {
			opacity: 1;
			text-indent: 0px;
		}
	}
}

.agreement {
	font-family: var(--font-family-Arial);
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	text-align: center;

	color: #e9e5c5;
}
/* Адаптив */
@media (max-width: 768px) {
	.form {
		padding: 60px 0;
	}
	.form__content {
		display: flex;
		align-items: center;
		padding-bottom: 40px;
		flex-direction: column;
	}
	.form__title {
		font-weight: 400;
		font-size: 40px;
		line-height: 56px;
		text-align: left;
		text-transform: uppercase;
		max-width: 380px;
		color: #e9e5c5;
	}
}
@media (max-width: 420px) {
	.form {
		display: flex;
		padding: 50px 0;
		min-height: 100vh;
		flex-direction: column;
	}
	.form__title {
		font-size: 28px;
		line-height: 40px;
		max-width: 250px;
	}
	.form__block-form {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 10px 0;
		max-width: 380px;
	}
	.input {
		font-family: var(--font-family-Arial);
		font-size: 16px;
		line-height: 19px;
		text-align: left;
		outline: none;
		color: #e9e5c5;
		background: transparent;
		width: 380px;
		padding-bottom: 10px;
		margin-bottom: 10px;
		border: none;
		border-bottom: 1px solid #e9e5c5;
	}
	.form__btn {
		font-size: 18px;
		line-height: 20px;
		text-align: center;
		text-transform: uppercase;
		color: #506c46;
		background: #e7cf00;
		border: 2px solid #e7cf00;
		border-radius: 50px;
		padding: 10px 85px 10px 85px;
	}
	.button {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 380px;
	}
	.agreement {
		font-size: 12px;
		line-height: 18px;
	}
}
@media (max-width: 320px) {
}
