.habitation {
	padding-top: 90px;
	background-color: #506c46;
	padding-bottom: 90px;
}
.habitation__content {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.habitation__code-img {
	position: absolute;
	right: 0;
	top: 35%;
}
.habitation__block-1 {
	padding-right: 40px;
}

.habitation__svg-bg {
	position: absolute;
	left: 30px;
}

.habitation__subtitle {
	margin-bottom: 70px;
	max-width: 647px;
	color: #e9e5c5;
}

.habitation__block-2 {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.habitation__svg-ml {
	position: absolute;
	top: 80px;
	right: 477px;
}

.habitation__text {
	font-family: var(--font-family-Arial);
	font-size: 18px;
	line-height: 21px;
	text-align: justify;
	max-width: 408px;
	padding: 0 19px;

	color: #e7cf00;
}

.habitation__img-2 {
	max-width: 300px;
	max-height: 300px;
}

/* Адаптив */

@media (max-width: 768px) {
	.habitation {
		padding-top: 90px;
		padding-bottom: 60px;
	}
	.habitation__img-2 {
		position: absolute;
		right: 0;
		bottom: 0;
		max-width: 150px;
		max-height: 150px;
	}
	.habitation__subtitle {
		margin-bottom: 25px;
		max-width: 450px;
		color: #e9e5c5;
	}
	.subtitles {
		font-weight: 400;
		font-size: 27px;
		line-height: 36px;
		text-align: left;
		text-transform: uppercase;
	}
	.habitation__content {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: stretch;
	}
	.habitation__block-1 {
		padding-right: 288px;
	}
	.habitation__svg-bg {
		position: absolute;
		left: 261px;
		max-width: 62px;
	}
	.habitation__img-1 {
		max-width: 320px;
	}
	.habitation__text {
		font-family: var(--font-family-Arial);
		font-size: 16px;
		line-height: 19px;
		max-width: 280px;
		margin-right: 138px;
		padding: 0 19px;
		color: #e7cf00;
	}
	.habitation__svg-ml {
		position: absolute;
		top: -60px;
		right: 70px;
		max-width: 47px;
	}
	.habitation__code-img {
		position: absolute;
		right: 0;
		top: 10%;
	}
}
@media (max-width: 420px) {
}
@media (max-width: 320px) {
}
