.mobile-block {
	display: none;
}

.mobile-block__social {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 20px;
	margin-right: 24px;
}
.menu__item--mobile:hover {
	color: #e7d000;
}
.mobile-block__social--link {
	width: 54px;
	height: 54px;
}
.main-path {
	fill: #e7d000;
}
/* hover social*/
.mobile-block__social--img:hover .main-path {
	stroke: #c0ae04;
	stroke-width: 2;
	fill: #506c46;
}
.mobile-block__social--img:hover .stroke-path {
	fill: #c0ae04;
}

@media (max-width: 420px) {
	.mobile-block {
		opacity: 0;
		max-height: 0;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		transition: opacity 0.5s ease, max-height 0.5s ease;
	}
	.mobile-block.active {
		opacity: 1;
		min-height: 100vh;
		margin-top: 80px;
		margin-left: 20px;

		border-top: 1px solid #e9e5c5;
		padding-top: 40px;
		justify-content: flex-start;
		align-items: normal;
	}
}
@media (max-width: 320px) {
	.mobile-block {
		display: none;
	}
	.mobile-block.active {
		opacity: 1;
		min-height: 100vh;
		margin-top: 80px;
		margin-left: 20px;

		border-top: 1px solid #e9e5c5;
		padding-top: 40px;
		justify-content: flex-start;
		align-items: normal;
	}
}
