.nutrition {
	padding-top: 90px;
	background-color: #e9e5c5;
	padding-bottom: 90px;
}
.nutrition__content {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
}
.nutrition__img-twig {
	position: absolute;
	left: 47px;
	padding-bottom: 20px;
	top: 0;
}
.nutrition__block-1 {
	padding-right: 40px;
	padding-bottom: 60px;
}

.nutrition__title {
	color: #506c46;
}

.nutrition__subtitle {
	max-width: 647px;

	color: #506c46;
}
.nutrition__block-2 {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 60px;
}
.nutrition__img-2 {
	padding-right: 270px;
}

.nutrition__block-3 {
	display: flex;
	align-items: center;
}
.nutrition__img-vector {
	padding-right: 53px;
}
.nutrition__text {
	font-family: var(--font-family-Arial);
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	text-align: justify;
	max-width: 408px;

	color: #506c46;
}
/* Адаптив */
@media (max-width: 768px) {
	.nutrition {
		padding-top: 60px;
		background-color: #e9e5c5;
		padding-bottom: 60px;
	}
	.nutrition__img-twig {
		position: absolute;
		left: 480px;
		top: 40px;
		width: 100px;
	}
	.nutrition__content {
		position: relative;
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	.nutrition__block-1 {
		padding: 0 35px 10px 0;
	}
	.titles {
		margin-bottom: 10px;
	}
	.nutrition__subtitle {
		max-width: 480px;
		font-size: 38px;
	}
	.nutrition__block-2 {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.nutrition__block-3 {
		display: flex;
		align-items: center;
		gap: 20px;
		flex-direction: column;
	}
	.nutrition__img-vector {
		padding: 0;
		width: 650px;
	}
	.nutrition__text {
		font-size: 16px;
		max-width: 480px;
	}

	.nutrition__img-2 {
		padding: 20px 0;
	}
}
@media (max-width: 420px) {
	.nutrition__img-twig {
		left: 300px;
	}
}
@media (max-width: 320px) {
	.nutrition {
		padding-top: 40px;
		background-color: #e9e5c5;
		padding-bottom: 40px;
	}
	.nutrition__img-twig {
		left: 232px;
		top: 49px;
		width: 72px;
	}
	.nutrition__content {
		position: relative;
		display: flex;
		align-items: flex-start;
		flex-direction: column;
	}
	.nutrition__subtitle {
		font-size: 24px;
	}
	.nutrition__img-2 {
		padding: 20px 0;
		width: 224px;
	}
	.nutrition__block-2 {
		margin-bottom: 20px;
	}
	.nutrition__text {
		font-size: 14px;
		max-width: 290px;
	}
}
