.reference {
	padding: 100px 0;
}
.reference__title {
	font-family: var(--font-family-Vetrino);
	font-style: normal;
	font-weight: 400;
	font-size: 60px;
	line-height: 64px;
	text-transform: uppercase;

	color: #e9e5c5;
	max-width: 732px;
	margin-bottom: 80px;
}

.reference__content {
	position: relative;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.reference__questions {
	max-width: 747px;
}

.reference__questions-1,
.reference__questions-2,
.reference__questions-3 {
	position: relative;
	padding: 20px 20px;
	border-bottom: 1px solid #e9e5c5;
}
.reference__question::after {
	position: absolute;
	content: '';
	background: url(../img/plus.png) no-repeat center/cover;
	width: 40px;
	height: 40px;
	top: 40px;
	right: 28px;
	transition: background-image 0.3s;
	cursor: pointer;
}
.reference__question.open::after {
	background: url(../img/minus.png) no-repeat center/cover;
}
.questions__title {
	font-family: var(--font-family-Vetrino);
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 37px;
	text-align: left;
	text-transform: uppercase;

	margin-bottom: 15px;
	max-width: 519px;
}
.questions__header {
	color: var(--colorText-main);
	transition: color 0.3s;
	cursor: pointer;
}
.questions__header:hover {
	color: var(--colorText-accent);
}
.questions__content {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
	padding: 0 20px;
}

.questions__content.open {
	max-height: 1000px;
	padding: 0 0;
}
.questions__text {
	font-family: var(--font-family-Arial);
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	text-align: left;

	color: #e9e5c5;
}

/* Адаптив */
@media (max-width: 768px){
	.reference__chamomile-img {
		position: absolute;
		clip-path: inset(36% 0 0 0);
		max-width: 163px;
		rotate: 180deg;
		right: 0;
		top: 348px;
		z-index: 9;
	}
}
@media (max-width: 420px) {
	.reference {
		padding: 50px 0 77px 0;
	}
	.reference__content {
		position: relative;
		display: block;
	}
	.titles {
		margin-bottom: 20px;
	}
	.reference__title {
		font-size: 28px;
		line-height: 33px;
		max-width: 380px;
		margin-bottom: 10px;
	}
	.reference__questions {
		max-width: 380px;
	}

	.reference__question {
		padding: 20px 20px 20px 0;
	}
	.questions__title {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 20px;
		max-width: 340px;
	}
	.reference__question::after {
		width: 30px;
		height: 30px;
		top: 17px;
		right: 0px;
	}
	.questions__text {
		font-size: 14px;
		line-height: 16px;
		max-width: 350px;
	}
	.reference__chamomile-img {
		position: absolute;
		clip-path: inset(36% 0 0 0);
		max-width: 163px;
		rotate: 180deg;
		right: 0;
		top: 275px;
		z-index: 9;
	}
}
@media (max-width: 320px) {
	.titles {
		font-size: 14px;
		margin-bottom: 15px;
	}

	.reference__title {
		font-size: 18px;
		line-height: 22px;
		max-width: 210px;
		margin-bottom: 0;
	}

	.reference__chamomile-img {
		position: absolute;
		top: 302px;
		right: 0;
		max-width: 160px;
	}
	.reference__chamomile-img {
		clip-path: inset(52% 0 0 0);
	}
	.reference__questions-1::after,
	.reference__questions-3::after {
		top: 17px;
	}
	.reference__questions-2::after {
		top: 37px;
	}
}
