.reference__title {
	font-family: var(--font-family-Vetrino);
	font-style: normal;
	font-weight: 400;
	font-size: 60px;
	line-height: 64px;
	text-transform: uppercase;

	color: #e9e5c5;
	max-width: 732px;
	margin-bottom: 80px;
}

.reference__content {
	display: flex;
	align-items: flex-end;
}

.reference__questions {
	max-width: 747px;
}

.reference__questions-1,
.reference__questions-2,
.reference__questions-3 {
	padding: 20px 20px;
	border-bottom: 1px solid #e9e5c5;
}
.reference__questions-1 {
	position: relative;
}
.reference__questions-1::after {
	position: absolute;
	content: '';
	background-image: url(../img/minus.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 40px;
	height: 40px;
	top: 40px;
	right: 28px;
}
.reference__questions-2 {
	position: relative;
}
.reference__questions-2::after {
	position: absolute;
	content: '';
	background-image: url(../img/plus.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 40px;
	height: 40px;
	top: 40px;
	right: 28px;
}

.reference__questions-3 {
	position: relative;
}
.reference__questions-3::after {
	position: absolute;
	content: '';
	background-image: url(../img/plus.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 40px;
	height: 40px;
	top: 26px;
	right: 28px;
}

.questions__title {
	font-family: var(--font-family-Vetrino);
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 37px;
	text-align: left;
	text-transform: uppercase;

	color: #e9e5c5;
	margin-bottom: 15px;
	max-width: 519px;
}
.questions__text {
	font-family: var(--font-family-Arial);
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	text-align: left;

	color: #e9e5c5;
}
.rference__chamomile {
	padding-left: 126px;
}
/* Адаптив */
@media (max-width: 780px){

}
@media (max-width: 420px){

}
@media (max-width: 320px){

}
