.reviews {
	background-color: #e9e5c5;
}
.reviews__title {
	font-family: var(--font-family-Vetrino);
	color: #506c46;
}
/* Адаптив */
@media (max-width: 780px){

}
@media (max-width: 420px){

}
@media (max-width: 320px){

}
