.ticket {
	background-color: #e9e5c5;
	padding: 100px 0;
}
.ticket__content {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.ticket__title {
	font-size: 60px;
	line-height: 64px;
	text-align: left;
	text-transform: uppercase;

	color: #506c46;
	padding: 0 0 46px 0;
}
.ticket__cheque {
	position: relative;
	display: flex;
	margin-bottom: 40px;
}
.ticket__cheque-l {
	position: relative;
	display: flex;
	align-items: center;
}
.ticket__cheque-bg {
	position: relative;
}
.ticket__cheque-img {
	position: absolute;
	z-index: 5;
}

.ticket__cheque-l--text {
	position: absolute;
	width: 683px;
	top: 0;
	z-index: 5;
}
.ticket__cheque-img {
	position: absolute;
	margin-left: 30px;
}
.ticket__cheque-l--title {
	position: absolute;
	font-family: var(--font-family-Arial);
	font-size: 20px;
	line-height: 24px;
	text-align: left;

	margin-top: 30px;
	margin-left: 373px;

	color: #e9e5c5;
}
.ticket__cheque-l--subtitle {
	position: absolute;
	font-size: 30px;
	line-height: 37px;
	text-align: left;
	text-transform: uppercase;

	margin-top: 69px;
	margin-left: 373px;

	color: #e9e5c5;
}
.ticket__cheque-l--cost {
	position: absolute;
	font-family: var(--font-family-Arial);
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	text-align: left;

	margin-top: 197px;
	margin-left: 373px;

	color: #e9e5c5;
}
.ticket__cheque-l--price {
	position: absolute;
	font-size: 30px;
	line-height: 37px;
	text-align: left;
	text-transform: uppercase;

	margin-top: 236px;
	margin-left: 373px;

	color: #e9e5c5;
}
.ticket__cheque-l--data {
	position: absolute;
	font-size: 60px;
	line-height: 64px;
	text-align: left;
	text-transform: uppercase;
	width: max-content;

	margin-top: 400px;
	margin-left: 373px;

	color: #e9e5c5;
}
sup {
	vertical-align: super;
	font-size: 20px;

	line-height: 24px;
	padding-left: 10px;
}
.ticket__cheque-2 {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.ticket__cheque-bg {
	position: relative;
}
.ticket__cheque-img {
	position: absolute;
	padding-right: 100px;
}
.ticket__chamomile {
	position: absolute;
	top: 30px;
	margin-right: 35px;
	z-index: 5;
}
.ticket__chamomile-2 {
	position: absolute;
	bottom: 30px;
	right: 227px;
	z-index: 5;
}
.ticket__cheque-img--320 {
	display: none;
}
/* adaptiv */
@media (max-width: 768px) {
	.ticket__title {
		font-size: 54px;
	}
	.ticket__cheque-img {
		max-width: 290px;
	}
	.ticket__cheque-l--text {
		position: absolute;
		width: 170px;
		top: 0;
		right: 447px;
		z-index: 9999;
	}
	.ticket__cheque-l--subtitle {
		position: absolute;
		font-size: 20px;
		line-height: 29px;
		text-align: left;
		text-transform: uppercase;
		margin-top: 70px;
		width: 210px;
		margin-left: 373px;
		color: #e9e5c5;
	}
	.ticket__cheque-l--cost {
		margin-top: 190px;
	}
	.ticket__cheque-l--price {
		position: absolute;
		font-size: 20px;
		line-height: 28px;
		text-align: left;
		text-transform: uppercase;
		margin-top: 220px;
		margin-left: 373px;
		width: 160px;
		color: #e9e5c5;
	}
	.ticket__cheque-l--data {
		position: absolute;
		font-size: 22px;
		line-height: 39px;
		text-align: left;
		text-transform: uppercase;
		width: max-content;
		margin-top: 290px;
		margin-left: 373px;
		color: #e9e5c5;
	}
	sup {
		font-size: 12px;
		line-height: 24px;
		padding-left: 10px;
	}
	.ticket__cheque-img--320 {
		display: none;
	}
}
@media (max-width: 420px) {
	.ticket {
		padding: 50px 0;
	}
	.ticket__title {
		font-size: 29px;
		margin: 0;
		padding-bottom: 93px;
	}
	.ticket__cheque {
		position: relative;
		display: flex;
		margin-bottom: 0px;
		flex-direction: column;
		align-items: center;
		gap: 10px;
	}
	.ticket__cheque-bg {
		rotate: 90deg;
		max-width: 529px;
	}
	.ticket__cheque-bg-2 {
		margin-top: 10px;
		rotate: 90deg;
		max-height: 350px;
	}

	.ticket__cheque-img {
		position: absolute;
		display: block;
		clip-path: inset(65px 0px 110px 0px);
		top: -125px;
		padding: 0;
		margin: 0;
	}
	.ticket__cheque-l {
		position: relative;
		display: flex;
		align-items: center;
		flex-direction: column;
		max-width: 350px;
	}
	.ticket__cheque-img--320 {
		display: none;
	}
	.ticket__cheque-2 {
		flex-direction: column;
	}
	.ticket__cheque-l--text {
		position: absolute;
		max-width: 244px;
		top: 210px;
		left: 34px;
		z-index: 1;
	}
	.ticket__cheque-l--title {
		font-size: 17px;
		margin: 0;
	}
	.ticket__cheque-l--subtitle {
		font-size: 20px;
		line-height: 27px;
		margin: 25px 0 0 0;
		width: 285px;
	}
	.ticket__cheque-l--cost {
		font-size: 17px;
		margin: 110px 0 0 0;
	}
	.ticket__cheque-l--price {
		font-size: 20px;
		line-height: 29px;
		margin: 130px 0 0 0;
		width: 285px;
	}
	.ticket__cheque-l--data {
		font-size: 32px;
		line-height: 38px;
		margin: 158px 0 0 0;
	}
	sup {
		font-size: 12px;
		line-height: 19px;
		padding-left: 5px;
	}
	.ticket__cheque-img--quarkod {
		display: block;
		rotate: 90deg;
		max-width: 100px;
		margin: 527px 0 0 0;
		padding: 0;
		clip-path: none;
	}
	.ticket__chamomile {
		position: absolute;
		top: 450px;
		margin-right: 302px;
		z-index: 5;
		max-width: 33px;
	}
	.ticket__chamomile-2 {
		position: absolute;
		bottom: 96px;
        right: 5px;
		z-index: 5;
		max-width: 33px;
	}
	.festival-link {
		position: relative;
		font-size: 17px;
		line-height: 27px;
		text-align: center;
		text-transform: uppercase;
		width: 230px;
		border-radius: 50px;
		/* padding: 17px 76.5px 15px 76.5px; */
		padding: 9px 58px;
		background: #e7d000;
		color: #506c46;
		overflow: hidden;
	}
}
@media (max-width: 320px) {
	.ticket__title {
		font-size: 29px;
		padding: 10px 0 50px 0;
	}
	.ticket__cheque {
		position: relative;
		display: flex;
		margin-bottom: 0px;
		flex-direction: column;
		align-items: center;
		gap: 10px;
	}
	.ticket__cheque-bg {
		rotate: 90deg;
		max-height: 32vh;
	}
	.ticket__cheque-img {
		display: none;
	}
	.ticket__cheque-img--320 {
		position: absolute;
		display: block;
		top: -36px;
		left: 35px;
		width: 260px;
	}
	.ticket__cheque-l {
		position: relative;
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	.ticket__cheque-2 {
		flex-direction: column;
	}
	.ticket__cheque-l--text {
		position: absolute;
		width: 130px;
		top: 0;
		right: 404px;
		z-index: 1;
	}
	.ticket__cheque-l--title {
		position: absolute;
		font-family: var(--font-family-Arial);
		font-size: 12px;
		margin-top: 109px;
		margin-left: 308px;
		color: #e9e5c5;
	}
	.ticket__cheque-l--subtitle {
		position: absolute;
		font-size: 12px;
		line-height: 15px;
		text-transform: uppercase;
		margin-top: 130px;
		width: 173px;
		margin-left: 308px;
		color: #e9e5c5;
	}
	.ticket__cheque-l--cost {
		margin-top: 160px;
		font-size: 12px;
		margin-left: 308px;
	}
	.ticket__cheque-l--price {
		position: absolute;
		font-size: 14px;
		line-height: 18px;
		text-transform: uppercase;
		margin-top: 180px;
		margin-left: 308px;
		width: 160px;
	}
	.ticket__cheque-l--data {
		position: absolute;
		font-size: 32px;
		line-height: 18px;
		text-align: left;
		text-transform: uppercase;
		width: max-content;
		margin-top: 210px;
		margin-left: 308px;
		color: #e9e5c5;
	}
	sup {
		font-size: 9px;
		line-height: 17px;
		padding-left: 4px;
	}
	.ticket__cheque-img--quarkod {
		display: block;
		rotate: 90deg;
		max-width: 47px;
		margin: 0 0 32px 0;
		padding: 0;
	}
	.ticket__chamomile {
		position: absolute;
		top: 251px;
		margin-right: 160px;
		z-index: 5;
		max-width: 20px;
	}
	.ticket__chamomile-2 {
		position: absolute;
		bottom: 52px;
		right: 55px;
		z-index: 5;
		max-width: 20px;
	}
	.festival-link {
		position: relative;
		top: -20px;
		font-size: 14px;
		line-height: 27px;
		text-align: center;
		text-transform: uppercase;
		width: 196px;
		border-radius: 50px;

		padding: 7px 58px;
		background: #e7d000;
		color: #506c46;
		overflow: hidden;
		margin: 0;
	}
}
