.nutrition {
	padding-top: 90px;
	background-color: #e9e5c5;
	padding-bottom: 90px;
}
.nutrition__content {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
}
.nutrition__img-twig {
	position: absolute;
	left: 47px;
	padding-bottom: 20px;
	top: 0;
}
.nutrition__block-1 {
	padding-right: 40px;
	padding-bottom: 60px;
}

.nutrition__title {
	color: #506c46;
}

.nutrition__subtitle {
	max-width: 647px;

	color: #506c46;
}
.nutrition__block-2 {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 60px;
}
.nutrition__img-2 {
	padding-right: 270px;
}

.nutrition__block-3 {
	display: flex;
	align-items: center;
}
.nutrition__img-vector {
	padding-right: 53px;
}
.nutrition__text {
	font-family: var(--font-family-Arial);
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	text-align: justify;
	max-width: 408px;

	color: #506c46;
}
